[2021-12-16 14:53] Ovec commented on #580
I have the same issue, right after container mounts bucket, request for file fails with following error:
[code]
After cd into folder the response is:
`gcs: 2021/12/16 14:46:53.056405 Req             0x21: -> Read("tracking/track.min.js", [0, 8844)) (38.214388ms): OK`

After a while error is back.

[2021-12-16 21:13] lezh commented on #580
@Ovec Are you also using "--only-dir" option?

[2021-12-16 22:13] lezh commented on #580
@Tobrek I can't reproduce the error. Can you provide a shell script to reproduce this error without using nginx?

[2021-12-17 01:33] lezh commented on #580
Can you try [v0.39.1](https://github.com/GoogleCloudPlatform/gcsfuse/releases/tag/v0.39.1)?

[2021-12-17 08:44] Tobrek commented on #580
Good morning,
i can try to reproduce it with a script, but i don't know exactly what nginx is doing while checking the config.

Sry, v0.39.1 didn't work. Same problem.

[2021-12-17 12:25] Tobrek commented on #580
some additional information:
* I'm working with Debian 9 and 10 - the same problem at both systems.
* you have to use the file directly, every command using the directory will "solve" the problem. e.g. ls <file> didn't work, ls <dir> && ls <file> works. In my original case nginx is checking if some configured files exists.

Here a little script i wrote to test the behavior:
`#!/usr/bin/bash
bucket

[2021-12-19 08:39] mariogits commented on #580
Same issue happens to me with 0.39.1 when I am mounting the bucket with `--stat-cache-ttl 0 --type-cache-ttl 0`, without these 2 flags it can be mounted well. I downgraded to version 0.38.0 and everything works well again.

[2021-12-20 19:39] jeunii commented on #580
I have an issue thats working with `0.38.0` and failing with `0.39.1`

I have a pod that mounts a GCS bucket. That pod runs a script and copies files ( needs to overwrite files ) that resides on GCS.

With `0.38.0`

[code]

With `0.39.1`

[code]

[2021-12-20 22:58] lezh commented on #580
Thanks for reporting this issue. I made another release [v0.39.2](https://github.com/GoogleCloudPlatform/gcsfuse/releases/tag/v0.39.2). Hope it's fixed now.

[2021-12-21 07:57] denniseijpe commented on #580
We also have a kubernetes pod which mounts a GCS bucket. In folders with a large number of files, we couldn't list and read the files.

v0.39.2 Fixes our issues.

[2021-12-21 12:12] mariogits commented on #580
Yeah, v0.39.2 fixed the issue for me too. Thanks

[2021-12-21 21:10] lezh commented on #580
Thanks for the verification.

[2021-12-21 21:10] #580 closed

[2021-12-21 21:12] lezh commented on #578
Can you try [v0.39.2](https://github.com/GoogleCloudPlatform/gcsfuse/releases/tag/v0.39.2)? It removes the logging noise in the dependency library.

[2021-12-21 21:14] lezh commented on #534
Close due to no further update.

[2021-12-21 21:14] #534 closed

[2021-12-22 00:19] lezh opened #581 "Codebase style conflicts with Go official style guide"
Golang style:
- https://github.com/golang/go/wiki/CodeReviewComments
- https://go.dev/doc/effective_go

In this codebase:

1. [Line lengths](https://github.com/golang/go/wiki/CodeReviewComments#line-length) are limited to 80 characters, which breaks function defs and calls, contracting the best practice.
2. [Named return parameters](https://github.com/golang/go/wiki/CodeReviewComments#named-result

[2021-12-22 00:47] lezh opened #582 "Concurrent map read and map write"
Reproducible running stress_test.go with a high count:

[code]

This is only a test issue.

In "vendor/github.com/jacobsa/gcloud/gcs/gcsfake/bucket.go", the fake bucket would make a copy of the objects and handle them to the gcsfuse FS being tested. However, in the new object copy, the metadata map is not actually copied. Thus, the updates to the map in the old object are concurrent with the reads

[2021-12-22 01:01] lezh commented on #579
This feature is not ready yet.

[2021-12-22 01:04] lezh commented on #576
Recent changes have correct these errors to "permission denied" instead of "input/output error". The "input/output error" is somewhat an "unknown" error in this case. Can you add "--debug_gcs" flag to the command that mounts gcsfuse to get some internal logs?

Once you have the gcs logs, you can check the requests right before the failure. That might tell you the real issue.

[2021-12-22 01:06] lezh commented on #570
This is not supported but nice to have.

[2021-12-22 01:07] lezh commented on #567
I can also reproduce this with
[code]

[2021-12-22 16:49] cammorca opened #583 "Unable to list file system getting connection refused after succefull mount"
Hello,

I am trying to mount a bucket on a redhat server. I get a successfull mount but when I try to ls I get connection refused and the file system does not shows up in df
# gcsfuse  --foreground --key-file /root/key.json  transfert-apollo /test
2021/12/22 17:41:53.820567 Start gcsfuse/0.39.2 (Go version go1.17.5) for app "" using mount point: /test
2021/12/22 17:41:53.820630 Opening GCS connect

[2021-12-27 20:53] sjkoelle opened #584 "Slow file upload from container to bucket"
I'm having issues with slow upload to a gcsfused bucket from within a docker container.   I can upload 100x faster to the gcsfused bucket from my GCE VM, and also to my GCE VM from the container, but am unclear why the upload speed from the container to the bucket would be slow.  Any suggestions are appreciated.  Backstory: running on Google AI Platform. Thanks!

[2021-12-29 16:33] dwilliams782 commented on #288
Also seeing a lot of `operation canceled` IO errors.

[2022-01-03 17:21] cammorca commented on #583
Sorry forgot my issue.
Went back to 0.30.0 release and it works fine on my server

[2022-01-05 04:53] gogasca opened #585 "Slow running Python script"
I load my GCS buckets using GCS fuse command. `gcsfuse --implicit-dirs "/home/${JUPYTER_USER}"/gcs` and I get significant delay when executing a simple Python script from a VM (Google Cloud VM)

*System information*

[code]

[code]

Test:
A very simple script containing only:

[code]
It takes really long to run it when using GCS fuse.

Execute from GCS fuse:

[code]

Execute locally

[code]

53 se

[2022-01-05 09:08] limdeng commented on #562
I get the same error in 0.38 sometimes, is there any progress?

[2022-01-05 19:25] ignaciovarela opened #586 "Error: Unable to locate package gcsfuse while installing on a Docker image in an arm64 machine"
Hi!

I am trying to build the following Docker image in a MacBook Pro with an M1 Pro processor.

[code]

But I am receiving the following error:
[code]

Is worth mentioning that in an Intel based machine this image is correctly built.
And as far as I understand, there [exists](https://packages.cloud.google.com/apt/dists/gcsfuse-buster/main/binary-arm64/Release) an arm64 distribution for this Debia

[2022-01-12 20:37] lezh commented on #585
It's expected to be slower executing a Python script from a mounted gcsfuse directory, because Python looks up all the libraries in that directory first. When you import tensorflow, Python interpreter is trying to import all the dependent modules such as absl, numpy, etc, from the gcsfuse directory, which is very expensive as each lookup takes a RTT to the GCS backend.

[2022-01-12 20:37] #585 closed

[2022-01-18 10:08] JackKelly commented on #553
I had a similar problem when trying to install `gcsfuse` on ubuntu 21.04 hirsute:

[code]

I got it working by replacing `hirsute` with `focal` (20.04) in `/etc/apt/sources.list.d/gcsfuse.list` and running `sudo apt update` again.

[2022-01-20 21:17] jefdaj commented on #586
For me, adding `--platform=amd64` to the top level docker build command fixes it.

[2022-01-20 21:20] ammanvedi commented on #586
I cannot believe your timing, i am literally facing this issue right now, and your solution pops up. it must be destiny

[2022-01-20 21:21] jefdaj commented on #586
Great! Although full disclosure, I can build the image but am having trouble running it. "Unable to find image ... locally"

[2022-01-20 21:22] ammanvedi commented on #586
ill take any progress at this point !

[2022-01-20 21:26] jefdaj commented on #586
I think `export DOCKER_DEFAULT_PLATFORM=linux/amd64` might have fixed build + run for me.

[2022-01-21 00:29] jefdaj commented on #586
Well, now it installs and the container runs, but gcsfuse itself segfaults. Maybe the architecture is important after all?

[2022-01-21 15:59] ammanvedi commented on #586
thinking ill end up building the container in a ci machine somewhere with a more "traditional" arch

[2022-01-23 17:20] bzip2 opened #589 "gcsfuse reports success if mounting to a non-existent folder, debug flags hide errors"
gcsfuse is great. I won't quibble about too many files open, but it shouldn't be so difficult to discover that you've misspelled the name of the bucket. It should be as easy as discovering that you've misspelled the name of the local directory. Even if you use debug_http, debug_fs, debug_fuse and/or debug_gcs (alone or in combination), gcsfuse reports success, without any indication of a problem:

[2022-01-24 01:28] gaul opened #590 "Improve CI test coverage"
gcsfuse could reuse s3fs tests, pjdfstest, or xfstests in CI by using [fake-gcs-server](https://github.com/fsouza/fake-gcs-server).  https://github.com/gaul/s3fs-fuse/tree/gcsfuse shows some partial work.

[2022-01-24 18:29] TarjinderSingh opened #591 "Error on MacOS 12.1 `Mount: mount: loadOSXFUSE: exit status 255`"
I tried installing `gcsfuse` on MacOS 12.1 (21C52) according the instructions provided, and received the following error:

```daemonize.Run: readFromProcess: sub-process: mountWithArgs: mountWithConn: Mount: mount: loadOSXFUSE: exit status 255```

Has anyone seen this error, and does it have to do with the fuse installation on MacOS?

[2022-01-25 18:51] NWOdlk commented on #589
Can verify. Same issue here

[2022-01-25 18:51] DavidLKing commented on #589
Can verify. Same issue here

[2022-01-27 04:17] lezh commented on #589
This is an expected behavior. Gcsfuse has no way to tell if the bucket name is misspelled or actually intended. If the access is denied, it reports "Permission Denied".

[2022-01-27 04:17] #589 closed

[2022-01-27 04:20] lezh commented on #578
With the logging noise reduced, this should not be necessary.

[2022-01-27 04:20] #578 closed

[2022-02-03 06:01] lsrrrrr opened #596 "I mounted it using gcsfuse, but I can't see the contents of the bucket."
I have a GCS Bucket mounted using gcsfuse on my VM, but I can't see the contents of the Bucket for some unknown reason.

Not only the capacity is not visible, but also read/write (ls, etc.) is not possible.

I created a new bucket, mounted it, and solved it temporarily.
However, the existing bucket is not yet visible after mounting.

Please tell me the cause and solution.

[2022-02-04 23:59] lezh commented on #596
Did you specify `--implicit-dirs`? Check out the [mounting.md](https://github.com/GoogleCloudPlatform/gcsfuse/blob/master/docs/mounting.md)

[2022-02-05 00:00] lezh commented on #596
This one documents the implicit dirs behaviors: https://github.com/GoogleCloudPlatform/gcsfuse/blob/master/docs/semantics.md#implicit-directories

[2022-02-05 00:00] #596 closed

[2022-02-07 14:52] VengefulAncient commented on #556
I second this. Please add this to `installing.md`. The suggested process for building from source is not suitable as it is, `mount.gcsfuse` is crucial and `mounting.md` seems to agree.

[2022-02-10 01:07] thepenguinco opened #600 "Directory renaming feature broken and unit tests failing"
[https://github.com/GoogleCloudPlatform/gcsfuse/pull/597](https://github.com/GoogleCloudPlatform/gcsfuse/pull/597) breaks directory renaming feature and causes unit tests in local_modifications_test.go to fail.

Run go test ./... in the gcsfuse directory to reproduce the issue.

[2022-02-10 02:26] gaul commented on #600
Can you share your symptoms?  When I run `go test ./...` it seems like the tests hang with a zombie `fs.test` process.  Is it true that CI no longer runs the tests?  This seems like a regression from 2dee82339ae07fc8f2d8b2a7b592c560ab2ce2b4.

[2022-02-10 05:05] lezh commented on #600
"Directory not empty" error occurs when renaming directory.

[code]

[2022-02-10 05:54] #600 closed

[2022-02-15 07:15] yitzhaklevihuji opened #607 "Expected file size and actual file size are incorrect."
I wrote the following python script to reproduce the issue:

`import numpy as np
import google.cloud
from google.cloud import storage
import os

path = 'gcs/BUCKET/PATH/TO/BLOB/some_file.txt'
f = open(path, 'wb')
expected_size = 0
for i in range(300):
    x = np.random.rand(1, 90, 160).astype('float32')
    expected_size += np.prod(x.shape) * 4
    x.tofile(f)

client = storage.Client()
bucket = c

[2022-02-15 12:50] mambor177 commented on #540
Will there be any traction on updating the yum repository with newer versions of gcsfuse?

[2022-02-15 18:50] rbavery opened #609 "gcfuse says mounting succesfully occurred but input/output error for static and dynamic mounting"
I have a directory I have created called `data`. I've deployed a vm that has `storage-full` access scope according to these instructions: https://github.com/GoogleCloudPlatform/gcsfuse/blob/master/docs/mounting.md

however I get this input output error, it looks like mounting is not working

[code]

The VM and storage accounts are deployed in the same gcp project. I'm happy to provide other detail

[2022-02-15 21:45] rbavery commented on #609
I needed to use access full storage scope as the mounting docs say (thought I was but I wasn't)

[2022-02-15 21:45] #609 closed

[2022-02-17 07:39] lezh opened #612 "Error types improperly handled"
## Background

The client library [gcloud](https://github.com/jacobsa/gcloud)  uses error types such as `PreconditionError` or `NotFoundError` to pass message back to the caller for conditions that need to be handled.

For instance, in `MkDir`, we see
[code]

The `CreateObject` method in [gcloud](https://github.com/jacobsa/gcloud) returns an `PreconditionError` to the  FS to indicate the directory

[2022-02-17 23:47] lezh commented on #582
The previous fix was reverted when updating the package [gcloud](https://github.com/jacobsa/gcloud/) since [the PR to the upstream](https://github.com/jacobsa/gcloud/pull/20) was not merged.

[2022-02-18 00:00] #582 closed

[2022-02-18 00:56] #612 closed

[2022-02-18 11:32] tetsuok commented on #567
@lezh Thanks for the fix! I also confirmed all tests passed in an environment in GitHub Actions in #613.

[2022-02-22 23:03] thepenguinco opened #615 "Use proper go logging instead of fmt.Printf everywhere"
We should use go logger when appropriate instead of just using print statements everywhere to set appropriate logging levels.

[2022-03-01 13:11] kamilgregorczyk opened #619 "Add arm64 support"
Have you considered adding support from arm64? I can't find a release for it, and installing gcsfuse from apt-get doesn't seem to work as it can't find the right package

[2022-03-03 10:41] rl55 opened #621 "any changes done on GCS using gsutils do not sync with gcsfuse"
**Problem statement:** If a directory or file is created or moved using gsutils, gcsfuse does not show the changes even when implicit_dirs option is used to mount gcs

**Steps to replicate:**
1. Mount a GCS bucket using gcsfuse. For example, in /etc/fstab -
_bucketname_ _mountpoint_ gcsfuse rw,implicit_dirs,x-systemd.requires=network-online.target,allow_other,uid=1004,gid=1005,key_file=_path to se

[2022-03-03 18:02] lezh commented on #621
Which Gcsfuse version is used? What is the OS?

[2022-03-05 12:46] avinazz opened #622 "fstab mount issues on GCP VM with gcsfuse 0.40.0"
Have been trying to mount GCS bucket on boot using **_gcsfuse v0.40.0_** (Go version go1.17.6). The OS is **_Debian GNU/Linux 10 (buster)_**.

My fstab entry looks like below:
[code]

If I look at VM serial port logs I see something like below:

[code]

The output of `mount` command looks as below:
[code]

Based on output of serial logs and mount command output, it seems that **_fstab_** is interp

[2022-03-05 18:40] rl55 commented on #621
GCS version: gcsfuse version 0.28.1 (Go version go1.9.7)
OS: Centos 7 kernel 3.10.0-1160.24.1.el7.x86_64

[2022-03-06 02:03] OliveS9 opened #623 "Why can't mounted GCS be written into?"
Why can't mounted GCS be written into? Here is the error after gcsfuse was installed:

bash: a.txt: Input/output error
when running "cat > a.txt"?

Thanks a lot!

[2022-03-08 15:01] thepenguinco commented on #623
What version of gcsfuse are you using? What OS?

[2022-03-09 21:00] thepenguinco opened #629 "Flaky tests in CI"
Integration and unit tests are hanging in CI.

See example: https://github.com/GoogleCloudPlatform/gcsfuse/runs/5483547081?check_suite_focus=true

Running tests locally with go run ./... seems to pass all test cases without hanging.

[2022-03-09 23:00] lezh opened #630 "Migrate OpenCensus to OpenTelemetry"
[OpenTelemetry](https://opentelemetry.io/) is the replacement for the deprecated [OpenCensus](https://opencensus.io/) for monitoring.

[2022-03-10 19:11] thepenguinco opened #635 "Bug in gcsfuse content cache write consistency"
Occasionally when writing/modifying a file in gcsfuse while the content cache is enabled, there is an error thrown by write to tempfile:
error(syscall.Errno) EBADF (9)

This causes gscfuse to complain about input/output error.

Likely cause is that the file is being closed somewhere.

[2022-03-14 17:19] thepenguinco commented on #635
This bug is no longer reproducible after https://github.com/GoogleCloudPlatform/gcsfuse/pull/636 and https://github.com/GoogleCloudPlatform/gcsfuse/pull/627

[2022-03-14 17:19] #635 closed

[2022-03-18 17:15] sromero89 opened #637 ""touch: setting times of 'my_file': Input/output error""
Every time the command "touch my_file" is executed this error is thrown "touch: setting times of 'my_file': Input/output error". I managed to mount the bucket correctly and indeed when I run the command the file is created in the bucket, but I always get the same error. I can read files with no problem (when I do I don't get the error), but the problem is with the "touch" command, I always get the

[2022-03-22 16:48] thepenguinco commented on #637
What version and OS are you using?
Have you tried updating to the latest gcsfuse version? I am not able to reproduce this issue.

[2022-03-22 16:51] thepenguinco opened #640 "Refactor content cache to support 2 different implementations"
Remove localFileCache bool from file inode struct and refactor content cache to support two implementations: one implementation with original functionality and one with new persistent disk content cache.

[2022-03-22 16:57] thepenguinco opened #641 "Determine whether os.Open and open file descriptors is a problem"
We currently run os.Open for each file we add to our cache.

Linux fs limits single process to open max of 1024 file descriptors so this is probably not scalable (not sure if the files are being closed or if they remain open for the entire time gcsfuse is active), we should figure out if this is an actual issue or not.

[2022-03-24 13:08] wojcikm opened #643 "MacOS & time machine"
I have mounted bucket as following:

`gcsfuse --implicit-dirs  --debug_gcs --debug_fuse --foreground bucket_name ~/Documents/time-machine-gcs`

But getting some errors:

[code]

What is more - is it possible to mound bucket as volume and  make time-machine backups to it?

[2022-03-24 15:45] thepenguinco opened #644 "Too many open files gcsfuse filesystem bug"
When trying to download tensorflow training data files directly into folder where gcs bucket is mounted by gcsfuse, I get the
following error:

tensorflow.python.framework.errors_impl.ResourceExhaustedError: /gcs/data/mnist/3.0.1.incompleteGDA4UH; Too many open files

This is reproducible on version 0.39.0 as well as the latest master.

To reproduce, follow instructions here:

https://github.com/t

[2022-03-29 18:31] thepenguinco commented on #644
The issue is because of folder renames (no concept of folders in GCS so folder renames in vFS are batched and by default set to disabled).

Fix: use the following flag:
--rename-dir-limit 1000

Set 1000 to whatever value you desire.

[2022-03-29 23:01] lezh opened #645 "Error mishandling in the content cache"
1. When there are too many files open, the call to [ioutil.TempFile](https://github.com/GoogleCloudPlatform/gcsfuse/blob/master/internal/contentcache/contentcache.go#L203) would fail. However, this error is [not handled](https://github.com/GoogleCloudPlatform/gcsfuse/blob/master/internal/contentcache/contentcache.go#L205).
2. The call to [NewCacheFile](https://github.com/GoogleCloudPlatform/gcsfus

[2022-03-30 13:28] #644 closed

[2022-03-30 20:31] #645 closed

[2022-03-31 00:43] imathews opened #647 "Error when using impersonated service account"
I'm attempting to use an impersonated service account to authorize GCS fuse in a development environment (`gcloud auth application-default login --impersonate-service-account=<service_account_name>`).

However, I'm getting the following error when running gcsfuse:

[code]

I noticed that this case _should_ be [handled in the source code](https://github.com/GoogleCloudPlatform/gcsfuse/blob/master/v

[2022-04-04 23:54] tomsaleeba commented on #566
I think this assumption is wrong. Privileged mode is to allow the docker container to perform privileged actions, like the FUSE mount that we're asking `gcsfuse` to do for us.

I had the same error as you and adding `--privileged` fixed the problem. According to [this comment](https://github.com/s3fs-fuse/s3fs-fuse/issues/647#issuecomment-637458150) we can give lesser permissions to the container

[2022-04-06 08:15] gkresic opened #648 "Cache-Control metadata cleared on save"
I have a file in bucket that has `Cache-Control` set to `no-store` in metadata.

If I mount this bucket using `gcsfuse` (version 0.40.0), modify a file and save it, file's `Cache-Control` metadata is cleared/unset.

[2022-04-07 09:00] erpic opened #649 "Permission denied on sub-directory if parent has not been accessed recently, cannot read files"
Starting yesterday 2022-04-06 around 19:00 UTC a gcs mounted directory started behaving strangely on multiple servers.

Nothing was updated on these servers at or near that time.

The symptom is "Permission denied" on listing files in directories, unless the parent directory has been accessed rcently (within a minute or so).

For example to list a directory it appears that all parents must have be

[2022-04-07 09:50] erpic commented on #649
Closing this as after further analysis, it appears that these strange behaviors are linked to a billing issue in the Google Cloud account. In that case it looks like it is still possible to somehow list objects but not access them.

[2022-04-07 09:50] #649 closed

[2022-04-08 09:29] lawrencebrooks opened #650 "DeleteObject followed by UpdateObject"
Whenever I delete a file on my gcsfuse mounted file system, the `DeleteObject` command is always followed by an `UpdateObject` command, which fails, because the file does not exist anymore. The delete itself succeeds, both locally and on the bucket, so the delete behaves as expected, but I would like to understand why the `UpdateObject` command is sent and if this is just expected behaviour or per

[2022-04-08 09:32] #650 closed

[2022-04-08 09:33] lawrencebrooks commented on #650
Wrong platform. Should go to Server Fault

[2022-04-11 05:46] vadlakondaswetha opened #652 "Request large listing with lesser supplemental info from GCS"
Latency of directory listing increases as the size of the directory increases so this issue is to track improving the same via requesting larger directory size per API call and requesting only for information which is needed.

[2022-04-11 05:49] vadlakondaswetha commented on #184
There are two issues which needs to addressed here.
1. Improve the latency of directory listing when ls is invoked for the first time. Filed a seperate ticket for this (https://github.com/GoogleCloudPlatform/gcsfuse/issues/652)
2. Cache the response from the 1st call, so when ls is performed again, it will be much faster.

[2022-04-11 08:03] fedordikarev commented on #321
Not a solution but workaround for that: we use `--outputdir` flag to store repodata locally and update it later using `gsutil -m rsync`:
[code]

[2022-04-14 04:50] avidullu commented on #286
The --billing-project flag as mentioned by @MattFaus is expected to resolve this issue.
Closing this out. Please reopen/file a new request with logs if you see otherwise.

[2022-04-14 04:50] #286 closed

[2022-04-14 04:56] avidullu commented on #292
![gcs-bucket-sentinel-2](https://user-images.githubusercontent.com/1674877/163316190-a5033d19-77e7-46e4-9620-2f139ce7330d.png)
<img width="1792" alt="gcsfuse-mount-sentinel-2" src="https://user-images.githubusercontent.com/1674877/163316206-45bdcf42-7328-4c60-a142-d3ba59f542cd.png">

Please find the above two screenshots indicating that the mounting does indeed work and shows the folder structure

[2022-04-14 04:56] #292 closed

[2022-04-14 05:01] avidullu commented on #291
Thanks @mihi314 for the suggestion. As you recommended, the suggestion has been absorbed in the document as highlighted below
![netdev-doc](https://user-images.githubusercontent.com/1674877/163316871-caad0de9-9bd9-402c-954f-1cd8f0551f4f.png)

[2022-04-14 05:01] #291 closed

[2022-04-14 05:02] avidullu commented on #311
Closing this out as the fix is submitted. Appreciate the help @rsg98 !

[2022-04-14 05:02] #311 closed

[2022-04-14 05:05] avidullu commented on #321
The release [https://github.com/GoogleCloudPlatform/gcsfuse/releases/](page) does show the availability of rpm repo.

Closing this out for now. If you think there is something missing please feel free to reopen/file a new issue.

[2022-04-14 05:06] avidullu commented on #320
Seems the issue has been fixed so closing this out.
Please feel free to reopen with latest logs if the issue still persists.

[2022-04-14 05:06] #320 closed

[2022-04-14 05:09] avidullu commented on #296
Was resolved in [this commit](https://github.com/GoogleCloudPlatform/gcsfuse/commit/f3ddce5eeacd853b77addfdff4e6754dfac6a43e)

[2022-04-14 05:09] #296 closed

[2022-04-14 05:12] MaggieLee2017 opened #653 "Does GCSFUSE have restrictions on use?"
Hi,
I want mount Cloud Storage buckets as file systems on Ubuntu system.
Ｗhen writing the test, after several tests in different scenarios, 5 can be successful, but when 10 tests are done, it will fail (Transport endpoint is not connected)
Referring to the report of gcsfuse, there are ERRORs as shown in the screenshot below. This type of error is repeatedly reported.
Does this mean that this is th

[2022-04-14 05:16] avidullu commented on #305
@zhuo-sun - Please reopen this issue with real logs which can help us repro this issue and help you with a resolution.
Closing this one out since it's >3 years old and from jacobsa@'s comments this is WAI and also there are no real logs available in the issue to evaluate.
Appreciate your help in improving the project.

[2022-04-14 05:16] #305 closed

[2022-04-14 05:20] avidullu commented on #339
The error you have mentioned seems to indicate permission issues. Not updating mtime might cause issues with the metadata of the object. Please let us know if you see this issue with a bucket where you have all the permissions.
Closing this out for now since it's ~3 years old. Please feel free to reopen with latest logs so we can support you better.

[2022-04-14 05:20] #339 closed

[2022-04-14 05:27] avidullu commented on #340
Thanks @surprisetalk for the suggestion here. From the logs I do not see this as a gcsfuse issue.
Closing this out for now, please feel free to file a new request/reopen with gcsfuse logs as you see fit.

[2022-04-14 05:27] #340 closed

[2022-04-14 05:40] avidullu commented on #653
Thanks for reporting the issue.
Your screenshot does not show the "Transport endpoint is not connected" error. Could you please post a larger log?

Also the transport endpoint error is related to the connectivity loss issues. If your tests are very network heavy maybe try inserting a delay in between them to see if the error still persists?

[2022-04-14 05:45] avidullu commented on #531
Could you please post the logs as you see them for us to be able to understand the issue better?
Along with that the details of the flags which you passed to gcsfuse at startup and the logs would help
(--foreground, --debug_fuse, --debug_fs etc. will be helpful to use at init which can give more detailed logs for us to support you)

[2022-04-14 05:48] avidullu commented on #647
Could you please let us know the version of GCSFuse that you're running?
Can you repro this on the latest 0.40 version?

[2022-04-14 05:50] avidullu commented on #524
@bayerlse Can you please share the exact logs screenshot for us to be able to help you?

[2022-04-14 06:41] avidullu commented on #516
Can you retry with the latest version of gcsfuse for the same file (200 GB as you mentioned) and let us know the log messages you see including info/warning/errors so that we can have a holistic view of the operations.

Also can you explain in what operation on the file do you get the errors? Is it just listing or reading/writing?

[2022-04-14 06:52] avidullu commented on #637
Have you tried changing the contents of any existing file in the bucket when you have it mounted with gcsfuse?
If you can't save those changes, then would seem like you may not have write permissions for the bucket.

[2022-04-14 06:59] avidullu commented on #328
Thanks @pre for the pointer to the k8s issue. From that bug I also found [this link](https://github.com/samos123/gke-gcs-fuse-unprivileged) which has detailed instructions from your post including some minor fixes.
This issue does not seem related to gcsfuse per se so will close this out from here.
Please open a new bug/reopen this if we can provide any further assistance.
Appreciate your help in

[2022-04-14 06:59] #328 closed

[2022-04-14 07:13] avidullu commented on #334
Please also share the command like flags you passed to gcsfuse and the names of the buckets used.
I found some bert buckets from [this](https://github.com/google-research/bert#fine-tuning-with-cloud-tpus) link named "gs://bert_models/2018_10_18/" but it has permission denied to view as highlighted by the cloud console link
![bert-permission-denied](https://user-images.githubusercontent.com/1674877

[2022-04-14 07:13] #334 closed

[2022-04-14 07:15] avidullu commented on #346
Agree with @ttencate that this can be easily mitigated with a different directory.
closing this out for now.

[2022-04-14 07:15] #346 closed

[2022-04-14 07:17] avidullu commented on #337
Can you please retry with the latest version 0.40 and see if the issue still exists.

[2022-04-14 07:19] MaggieLee2017 commented on #653
Hi,
Supplement more information such as attached three pictures.

1.The data starts to be stored, some files start to appear 0k, 'df -h' will show a question mark when viewing the disk.
2.disk 1 is the mount point of our device.
3.Unusual file size found, error found in list folder.

Thank you.

![2](https://user-images.githubusercontent.com/34962564/163334092-6d51c37b-2bd1-46d6-9dcb-73b796d10aee.

[2022-04-14 07:21] avidullu commented on #349
There have been [recent improvements](https://github.com/GoogleCloudPlatform/gcsfuse/pull/651/commits/5da5be1f8c97a1dae19053d06437e3457d17ad6f) in the listing of large directories and also other changes to improve the throughput between GCS and GCSFuse.

Since this issue is old and many commenters, I'll hope someone gets back with some responses and will keep this open till then.

Please try to bu

[2022-04-14 07:23] avidullu commented on #351
Closing the issue since @kanghq commented that it was resolved.Thanks for reporting the issue and the resolution for the benefit of others in the community!

[2022-04-14 07:23] #351 closed

[2022-04-14 07:26] avidullu commented on #353
Thanks @samos123 for the useful tip here. Closing this out since the issue has a solution.

[2022-04-14 07:26] #353 closed

[2022-04-14 08:20] avidullu commented on #652
Pending releasing the code changes.

[2022-04-14 08:23] avidullu commented on #576
As mentioned, please provide us some logs so we can comprehend the issue better.

[2022-04-14 08:34] avidullu commented on #420
There have been recent improvements in the APIs used by GCSFuse to list large directories from GCS and also the number of connections which improve throughput.
Could you please repeat this with the latest version (preferrably built at master) and get back to us if the listing still takes a much longer time?

[2022-04-14 09:03] avidullu commented on #438
Accessing public buckets is very much feasible from gcsfuse.

The below is a sentinel-2 public data bucket which was mounted via gcsfuse
<img width="1792" alt="gcsfuse-mount-sentinel-2" src="https://user-images.githubusercontent.com/1674877/163351187-8422f9d0-909a-49dc-b5f4-2a673166260d.png">

The below is a bert image data from public bucket
![Uploading bert-loading.png…]()

And the below is scre

[2022-04-14 09:07] avidullu commented on #421
Labelling this with pending customer action since a workaround has been proposed.
(Pending customer action issues are closed after 2 weeks of inactivity.)

[2022-04-14 09:17] avidullu commented on #461
Closing this out since it seems this is WAI and documented.
Please feel free to raise a new request or reopen this in case there is something more that needs to be done related to this.

[2022-04-14 09:17] #461 closed

[2022-04-14 09:29] avidullu commented on #365
GCSFuse has a barebones not-very-well-tested version of some local caching which has recently been added.
We're also looking in to the patterns of random access and sequential readers to see whether their performances can be improved.
I see that you tried tweaking the code locally as per your need and weren't able to get the desired result.
As pointed by @bjornleffler using GCSFuse over NFS might

[2022-04-14 09:29] #365 closed

[2022-04-14 09:31] avidullu commented on #364
Probably wont. Please feel free to file a fresh issue with more details and we'll be happy to assist.

[2022-04-14 09:31] #364 closed

[2022-04-14 09:33] avidullu commented on #362
Duplicate of #295

[2022-04-14 09:33] #362 closed

[2022-04-14 09:33] avidullu commented on #362
Closing this since as mentioned in the above issue dsync is not supported in gcsfuse

[2022-04-14 09:38] avidullu commented on #347
Possibly wrong repo.

[2022-04-14 09:38] #347 closed

[2022-04-14 09:43] avidullu commented on #309
Duplicate of #358

[2022-04-14 09:49] avidullu commented on #336
As recommended please download the latest version and retry.

[2022-04-14 09:54] avidullu commented on #341
Thanks for the detailed report and the recommendation to bypass "/". Unfortunately that will be a very risky change with unclear benefits.

To highlight, I'd urge you to retry the --implicit-dirs flag for your app since GCSFuse performance has seen many improvements lately and we're still exploring and executing on more improvements like caching and faster listing etc.

I'd recommend using a lates

[2022-04-14 09:59] avidullu commented on #345
Seems there are enough examples in the discussion which recommend solutions and workarounds for the original issue and @xyoun also was able to resolve their issue.
Closing this out but feel free to reopen in case more investigation needs to be done.

[2022-04-14 09:59] #345 closed

[2022-04-14 10:00] avidullu commented on #368
As recommended --implicit-dirs is the right way to approach this issue.
Please let us know if that doesn't work for you.

[2022-04-14 10:00] #368 closed

[2022-04-14 10:05] avidullu commented on #372
As @gaul mentioned, would be great to know the RAM usage on reboot and also trying to run with the latest verison (0.40) should help. Please let us know what you find with logs and we'll be happy to look in to this.

[2022-04-14 10:07] avidullu commented on #375
Could you please share some logs for the operations you were doing?
Running gcsfuse with --foreground,  --log-file, --debug_fuse, --debug_fs, --debug_gcs should definitely give us enough information to understand what is happening.

[2022-04-14 10:09] avidullu commented on #378
Could you share about the configuration used? Also retry with the latest repo release and 1.16+ version of go as @gaul recommends worked for them.

[2022-04-14 10:11] avidullu commented on #386
Please let me know if the [mounting page](https://github.com/GoogleCloudPlatform/gcsfuse/blob/master/docs/mounting.md) lacks this information and will be happy to update.

[2022-04-14 10:11] #386 closed

[2022-04-14 10:12] avidullu commented on #396
As @lezh mentioned, the recommendation is to use a CSI driver for the same.
Please let us know if you have any issues in that regard. Feel free to reopen/file a new request.

[2022-04-14 10:12] #396 closed

[2022-04-14 10:15] avidullu commented on #402
a. strace would help find the source of the interrupt
b. There are other issues #288 which seem to indicate that the interrupt might be coming from the application using gcsfuse and causing the error. So tracking the source of interrupt might be helpful.

[2022-04-14 10:19] avidullu commented on #629
The recent pull request [here](https://github.com/GoogleCloudPlatform/gcsfuse/pull/651) passed successfully. Will keep this open if this reoccurs.

[2022-04-14 10:20] avidullu commented on #623
Please provide the version of gcsfuse and the OS.
Please try rerunning with the latest (0.40) release and see if that helps.

[2022-04-14 10:30] avidullu commented on #621
Have you tried running with a latest version on go (1.16+) and gcsfuse (0.40) ?
Could you let us know if you observe the same behaviour with the recent builds?

[2022-04-14 10:42] avidullu commented on #622
Could you please avoid using the same mount directory name as the name of the bucket?

[2022-04-14 10:47] avidullu commented on #483
We have made some recent changes to gcsfuse to speed up large directory listing.
Could you build from master (unreleased yet) and check if that helps?

[2022-04-14 11:10] avidullu commented on #536
When you say the directory cannot be accessed, did you do a list op (ls) in the mounted directory? Was the result empty or any other error message? For the entire 2-3 days period, was your machine always online or you have enabled suspending the machine or some way for the network to be unavailable for a long period?

Could you please provide this information for us to be able to assist you. Also

[2022-04-14 11:11] avidullu commented on #541
endpoint was added in [this PR](https://github.com/GoogleCloudPlatform/gcsfuse/commit/d16e9d828049c10871e94dfe1de7297645f22682) primarily to ease testing.
Configuring network for bucket is possible via the google cloud console. gcsfuse does not allow bucket properties to be modified.

Could you change the network from the console instead and get it working?

[2022-04-14 11:15] avidullu commented on #553
buster or jessie would work as suggested. closing this out.
Please feel free to reopen/create a new issue in case you want us to look into more.

We might file a new request to have a bullseye repository later.

[2022-04-14 11:15] #553 closed

[2022-04-14 11:21] avidullu commented on #557
gcsfuse is primarily supposed to run as a daemon process. You seem to be running in --foreground mode and the Ctrl-C is unable possibly due to the pending writes which are happening due to the large file write which possibly didn't complete.

Can you please highlight what you're trying to achieve? And what issue do you see with gcsfuse?

[2022-04-14 11:24] avidullu commented on #551
Are you able to create a new file or update any existing file in the mounted directory? Can you share the logs for the same?

[2022-04-14 11:27] avidullu commented on #554
Can you share more information about this regarding the throughput you observed during copy vs streaming?
Are the number of files in the subdir very high (>10K) ? And when you're streaming are you streaming only a few large files or all the files? Is there any caching in the application which is streaming which could be causing the high throughput in that case?

[2022-04-14 11:30] avidullu commented on #555
gcsfuse forks off a daemon process to intercept the kernel commands for the filesystem.

Not familiar with supervisord but do you think the suggestion given by @fregster would help you get a workaround?

[2022-04-14 11:32] avidullu commented on #545
Is this still reproducible?

[2022-04-14 12:06] avidullu commented on #526
Do you have the logs available to investigate further?

[2022-04-14 12:07] avidullu commented on #542
Do you get a similar issue when doing the same ops on a VM instead of docker?

[2022-04-14 12:08] #528 closed

[2022-04-14 12:11] avidullu commented on #525
Can you run gcsfuse from head (master) and retry? There have been some recent changes to directory listing performance improvement.

[2022-04-14 13:37] mc-zact commented on #349
We've been dealing with this with a cron job that remounts GCS fuse on hanged states (basically tries to do a ls every 5 mins, if hanged we remount, I will see If we can test without the scripts but since the hangs were somewhat random, might take a while to confirm.

[2022-04-14 13:51] avidullu commented on #321
Reopened to debug more. This seems related to #539 and in general doing git clone in a gcsfuse mounted bucket is failing, even for very small repositories. Will investigate more.

[2022-04-14 13:53] avidullu commented on #349
Thanks @mc-zact for the quick turnaround!
Will really appreciate if you could let us know that this is still an issue after improvement via #652

[2022-04-14 14:02] alexiusflavius commented on #476
We decided to stop using gcsfuse since I didn't get any reply for over a year and there was really little updates on the project
Thanks

[2022-04-14 14:43] avidullu commented on #476
Sorry to hear that. We hope you evaluate gcsfuse at some point again and hopefully we'll provide you better support.

[2022-04-15 03:40] lezh opened #654 "List buckets on the base directory with dynamic mounting"
When gcsfuse is mounted dynamically without a bucket specified, such as
[code]
all the subdirectories of the base directory `/gcs` should be the accessible bucket names.

Currently, the attempts to read the base directory
[code]
leads to `input/output error` if the user or the service account has no `storage.buckets.list` permission.

This permission is often not required for running gcsfuse. Ther

[2022-04-15 03:42] #654 closed

[2022-04-15 05:12] MaggieLee2017 commented on #653
@avidullu Can you understand what I'm trying to say?
I really want to use this tool.

[2022-04-15 05:16] avidullu commented on #653
Would it be possible for you to run gcsfuse in debug mode by providing --foreground, --implicit-dirs, --debug_fs, --debug_fuse, --debug_gcs flags to the mount command? It will omit more logs for us to investigate.

[2022-04-15 05:21] avidullu commented on #653
Additionally could you mount gcsfuse as a non root user?

[2022-04-15 10:11] MaggieLee2017 commented on #653
@avidullu  Thanks for the suggestion, I will tell you after trying it here.

[2022-04-18 20:50] aalexgabi commented on #362
@avidullu I don't understand why the second command would fail. dsync support is irrelevant when second machine is connected to the bucket because the dsync part happens between first machine and the bucket.

[2022-04-18 20:54] aalexgabi commented on #541
@avidullu Changing endpoint is useful in production as well when paths on a virtual bucket are remapped on different backends/buckets on the load balancer side. For example to enable file path aliases and deduplicating identical files that would be in different folders/paths.

[2022-04-18 21:04] aalexgabi commented on #557
This happened during testing of gcsfuse. We ended up using rclone mount as it seems to be more reliable and never gets stuck but unfortunately it does not handle kernel file caching.

Not sure exactly what's the protocol in linux when doing a lazy unmount.
Unmounting while operations are in progress should return read/write error to writer, unmount and gcsfuse should exit.

The main point of this

[2022-04-19 17:33] REWRicharddeGroot commented on #555
I did wrap it with a shell scrip to track the process.  So that did work in the end.
The reason I brought up the issue is that --foreground is suppose to not do that, and it is not following it when running under supervisord

[2022-04-20 07:45] stankolubomir commented on #584
(Don't know if this is still relevant after 4 months.)
This sounds like few resources assigned to the container. What CPU and memory limits did you assign to the container running gcsfuse?

[2022-04-20 11:21] vadlakondaswetha commented on #648
Can you tell how are you modifying the file. Is it via editors like vi/vim or programatically?

[2022-04-20 11:27] gkresic commented on #648
Using IntelliJ.

[2022-04-20 18:26] rbavery opened #655 "too many open file descriptors when trying to copy files from one folder to another in a mounted bucket"
I have a mounted directory that is mounted with the implicit dirs option

[code]

and I'm trying to copy some folders (about 90, each with a few pngs in each) from one folder to another

[code]

but this results in an error.

[code]

I don't have files open by any other process so not sure why this is occurring, I've running this after a fresh reboot of my VM.

I'm using
[code]

[2022-04-21 02:38] imathews commented on #647
@avidullu thanks so much! The issue was that I was on an older version, sorry for the trouble.

For others who might come across this: my distro is Debian bullseye, and I ran into the same issue as described in #553. I set the release to `jessie` during installation, which installed an older version (0.21 I believe). Updating the hardcoded release to `stretch` or `buster` properly installed v0.40,

[2022-04-21 02:38] #647 closed

[2022-04-21 05:21] avidullu commented on #655
Have you tried the --rename-dir-limit tip [suggested here](https://github.com/GoogleCloudPlatform/gcsfuse/issues/644#issuecomment-1082235633)

[2022-04-21 10:39] avidullu commented on #355
Reproduced this and observed that since due to retention policy, even a temporary object (eg. vim swap files, filesystem tmp files etc.) or files cannot be deleted once created which causes issues with GCSFuse. Overwriting the file won't work, replacing the content won't work because fuse tried to recreate files on such changes, which the bucket retention policy does not allow.

As of now, there d

[2022-04-21 11:19] avidullu commented on #500
Since GCSFuse works on the linux FUSE mechanism, it results in a lot of file overwrites and flushes which may create and/or mess up with the number of versions of each object which GCS maintains for a versioned bucket. Hence if using GCSFuse on a versioned bucket the results might surprise you when you do some editing of files etc.
As an exercise, you could enable --foreground --debug_fs and --deb

[2022-04-22 09:02] avinazz commented on #622
@avidullu I tried that and it worked! Thanks!

Alternatively, I also tried creating symlink to mount point with `/<bucket-name>`, this time it failed again with exact same error logs in VM serial ports.
No sure, if this is a bug or intended behaviour, coz I don't seem to find any document or article talking about the same.

[2022-04-22 09:16] avidullu commented on #622
Thanks for the confirmation! I updated [the doc](https://github.com/GoogleCloudPlatform/gcsfuse/blob/master/docs/mounting.md#static-mounting) to call out the same.

[2022-04-22 09:16] #622 closed

[2022-04-22 09:55] avidullu commented on #557
Thanks for the inputs. We'll investigate into why gcsfuse does not respect the force unmount

[2022-04-22 10:33] vadlakondaswetha commented on #648
The issue is fixed at head. The object properties will be retained if the edit is done programmatically.  Incase the edit is done via editors like vi/vim, the properties will not be retained since vi/vim deletes the original file and creates a new file. GcsFuse has no control over this behaviour.

@gkresic, For intellij, the original file is not deleted, hence the object properties will get retain

[2022-04-22 10:48] avidullu commented on #500
Closing since supporting versioned buckets is not feasible by design.

[2022-04-22 10:48] #500 closed

[2022-04-23 10:37] Sugamber opened #659 "Unable to write in mounted directory with requester pay on."
I've setup gcsfuse on vm and mounted the gcs bucket(Requester Pay on) successfully with billing project.

**Installation steps:**

[code]

I'm getting Input output error while writing into mounted directory.
Error : touch: cannot touch 'vv.csv': Input/output error

I also looked at debug log and found that it still failing with requester issues.
**Full log:**

[code]

Could anyone please help on t

[2022-04-23 18:15] avidullu commented on #659
Appreciate your detailed report.
Could you please set [this flag](https://github.com/GoogleCloudPlatform/gcsfuse/blob/b9d34f37653a4363edcef03be75a1bc701c6265c/flags.go#L137) and retry?

[2022-04-23 18:34] papalagichen opened #660 "Slow file upload from Google cloud compute to cloud storage"
Using gcsfuse to upload a 6GB file is much slower than using gsutil. Any idea for the difference? The same file downloading has no such difference.

[code]

[code]

After turning on the gcs debugging info, the last step CreateObject took 36 seconds to finish. Writing a small file does not have such an issue.
[code]

[2022-04-24 07:30] Sugamber commented on #659
@avidullu
Is **/etc/fuse.conf** this the correct file to set this flag?
If yes, I have tried adding following line into this file and error is same.

**Option 1.**
[code]

**Option 2**

[code]

Please let me know if this is incorrect file to set this value.  Also share sample command to set this.

Thank you !!!

[2022-04-25 05:47] avidullu commented on #659
a. Can you also enable --debug_http and post the logs? That would print the HTTP requests which are being sent to GCS and the responses. Need to make sure that the right project is being sent.

b. Do you have to run the bucket as root? Can you disable the allow_other modes and simply use "--billing-project ... --dir-mode 777  -o rw   --implicit-dirs --debug_gcs --debug_fs --debug_fuse --debug_http

[2022-04-25 06:38] Sugamber commented on #659
@avidullu I tried option A and i see userProject value in url.
[code]

[2022-04-25 06:51] Sugamber commented on #659
@avidullu  I also tried Option 2 and it failed with same error.

[2022-04-26 14:23] lappazos opened #661 "fusermount: exit status 1"
i'm trying to mount a folder on Cloud run container, and getting
`daemonize.Run: readFromProcess: sub-process: mountWithArgs: mountWithConn: Mount: mount: running /bin/fusermount: exit status 1`

I'm following this [guide](https://cloud.google.com/run/docs/tutorials/network-filesystems-fuse#cloudrun_fs_script-python).
I checked, and user is root, as so the ownership of the folder (which I created

[2022-04-26 15:29] avidullu commented on #661
Can you please enable --foreground --debug_fs --debug_fuse to the gcsfuse mount command and share the logs?

[2022-04-27 05:23] avidullu commented on #659
We found an issue in how a library on which gcsfuse depends was not properly passing along the project information and have [submitted a fix](https://github.com/jacobsa/gcloud/pull/25). We'll make a new release with the fix by this week or early next week.

[2022-04-27 05:49] avidullu commented on #660
Could you retry by passing --disable-http2 --max-conns-per-host=100 and see if that makes some measurable difference?

[2022-04-27 06:41] lappazos commented on #661
Solved - i think the problem was both the missing roles/storage.objectAdmin,
and in the deploy command, I was missing the beta, and the 2nd generatino

[2022-04-27 07:33] avidullu commented on #661
Appreciate the turnaround!

[2022-04-27 07:33] #661 closed

[2022-04-27 07:47] avidullu commented on #309
Closing this one in preference to #358 which is essentially the same issue.

[2022-04-27 07:47] #309 closed

[2022-04-28 02:15] surjikal commented on #583
Getting the exact same issue.

[2022-04-28 04:49] avidullu commented on #583
Can you also pass --debug_fuse --debug_fs to the commandline with the latest version and let us know the logs so we can take a look?

[2022-04-28 10:02] avidullu commented on #540
There was an issue previously which avoided publishing the latest versions.
With the latest 0.41 release you should see the latest version in the rpm repos.

[2022-04-28 10:03] #540 closed

[2022-04-28 10:05] #621 closed

[2022-04-28 10:33] avidullu commented on #337
Please retry with the latest release of gcsfuse 0.41 and report back if you still see the same issue.

[2022-04-28 10:33] #337 closed

[2022-04-28 10:34] avidullu commented on #336
Closing this out due to inactivity. Please reopen or file new issue with logs and we'll be happy to investigate.

[2022-04-28 10:34] #336 closed

[2022-04-28 10:36] avidullu commented on #349
Please retry with the latest release 0.41 and you should see measurable improvements in the listing performance for large directories.
Feel free to reopen this or open a new issue for us to investigate more.
Thanks for the help in making gcsfuse better!

[2022-04-28 10:36] #349 closed

[2022-04-28 10:37] avidullu commented on #369
Please retry with the latest version (0.41) of gcsfuse and let us know if you see similar issue.
Closing this out since this is >2 years old. Happy to take a look if you can provide more information.

[2022-04-28 10:37] #369 closed

[2022-04-28 10:39] avidullu commented on #372
Please retry with the latest version (0.41) and let us know any more debugging information which we can use to investigate.

[2022-04-28 10:39] #372 closed

[2022-04-28 10:41] #375 closed

[2022-04-28 10:41] avidullu commented on #378
Closing out due to inactivity and a suggested fix.

[2022-04-28 10:41] #378 closed

[2022-04-28 10:43] avidullu commented on #420
Please retry this with the latest release (0.41) of gcsfuse which has improved the performance of large directory listing.
Feel free to reopen this issue or file a new one with some bucket and timing numbers for us to investigate.
Thanks for helping improve gcsfuse.

[2022-04-28 10:43] #420 closed

[2022-04-28 10:46] avidullu commented on #483
Please retry with the latest version (0.41) of gcsfuse which has improved the large directory listing performance.
Will keep this bug open for another week to hear inputs.
We've heard on separate threads that users have observed measurable improvements in the latencies for large directory listing lately.

[2022-04-28 10:47] avidullu commented on #524
Closing out due to inactivity. Please reopen or file a new issue with the debug flags (--foreground --debug_fs --debug_fuse --debug_gcs --debug_http) which will help us investigate deeper into the logs.

[2022-04-28 10:47] #524 closed

[2022-04-28 10:49] avidullu commented on #648
Please retry with the latest release (0.41) of gcsfuse which has a fix for the same.

[2022-04-28 10:51] avidullu commented on #619
Does [this comment](https://github.com/GoogleCloudPlatform/gcsfuse/issues/378#issuecomment-806288959) help you in achieving what you're looking for?

[2022-04-28 11:09] gkresic commented on #648
I can confirm that version 0.41.0 works OK, at least when file is edited via IntelliJ.

[2022-04-28 11:10] mc-zact commented on #349
Sorry I didn't have much time to properly test this, but I can say that looking at logs it does seem that the hang state has not been happening for the last few weeks, so this is either fixed or we got lucky :)

[2022-04-28 11:31] avidullu commented on #349
I'll take that as a sign that things have improved to your satisfaction :)
Will keep this issue closed. Please reopen this or a new one in case you hit a similar wall.
Thanks for the prompt responses in helping us improve gcsfuse!

[2022-04-28 11:33] avidullu commented on #648
Thanks for the confirmation. Will close this issue out. Please feel free to reopen incase you find any inconsistencies.
Thanks for the help in resolving this!

[2022-04-28 11:33] #648 closed

[2022-04-28 11:34] avidullu commented on #659
Can you please retry with the latest version of gcsfuse (0.41) ? The fix has been rolled out in this release.

[2022-04-28 13:46] martinkaberg opened #666 "mount helper does not work with federated workload identity"
I am not able to get mount helper to work with federated workload identity. Just running gcsfuse works fine on the same system.  Outputs below.

[code]
terminal stalls for a few minutes

then prints this message

[code]

On the same system i am able to mount using the gcsfuse command
[code]

[2022-04-28 14:59] klj613 opened #667 "Fuse not installing (centos7)"
Following the process on https://github.com/GoogleCloudPlatform/gcsfuse/blob/master/docs/installing.md#other-distributions to install fuse via the yum repository results in the installation failing.

[code]

I've had a look around and attempted several times to no avail. This was attempted on a fresh CentOS 7 virtual machine

[2022-04-28 16:08] Sugamber commented on #659
@avidullu
It worked  now.
Thank you !!!

[2022-04-28 16:15] mliljedahl commented on #667
Can confirm that the issue is also on CentOS 8 :+1:

[2022-04-28 16:59] papalagichen commented on #660
Thanks for the suggestion. I will do more tests with them.

[2022-04-28 16:59] #660 closed

[2022-04-28 17:13] #659 closed

[2022-04-28 17:13] vadlakondaswetha commented on #667
Can you try with the latest version v0.41.1

[2022-04-28 17:39] Clauther-N opened #670 "gcsfuse mount hangs forever on centos7"
Hello,
Since 10AM I'm not able to mount gcsfuse bucket on my centos7 VM.
I'm using the command 'mount -t gcsfuse -o rw,key_file=/path/to/key bucket_name /path/to/dest'.
The command hangs on 'Mounting file system...' but doesn't mount even after hours.
Note that I've tested with the latest gcsfuse version 0.41 and version 0.28

I've been doing this for more than a year without any issue.
Note that

[2022-04-28 17:41] Clauther-N commented on #670
Note that I've tested with the latest gcsfuse version 0.41 and version 0.28

[2022-04-28 18:16] avidullu commented on #670
Could you please update to version 0.41.1 which has the fix to this issue

[2022-04-28 18:30] Clauther-N commented on #670
I still have the bug with version 0.41.1.
I don't have an issue with my installation, I have an issue with the mount, The command hangs on 'Mounting file system...'

[2022-04-29 04:35] avidullu commented on #670
Can you please add the following flags to the gcsfuse command to enable more debug logs for us to investigate?
--foreground --debug_fuse --debug_fs --debug_gcs --debug_http

Please let us know the logs that you see on mounting with these flags.

[2022-04-29 07:31] Clauther-N commented on #670
Hello,
These are the logs with the flags --foreground --debug_fuse --debug_fs --debug_gcs --debug_http

2022/04/29 09:18:26.846077 Start gcsfuse/0.41.0 (Go version go1.17.7) for app "" using mount point: /etc/gcsfuse/mount/test10
2022/04/29 09:18:26.854891 Creating a mount at "/etc/gcsfuse/mount/test10"

WARNING: gcsfuse invoked as root. This will cause all files to be owned by
root. If this is no

[2022-04-29 08:51] martinkaberg commented on #666
So found out what the issue is   GOOGLE_APPLICATION_CREDENTIALS environment variable is not available when mount executes gcsfuse. It would be nice if --key-file option supported workload identity, or if we could have another option for that file.

Now i created a simple work around. I renamed   gcsfuse binary to _gcsfuse and  wrote bash script called gcsfuse
[code]

[2022-04-29 09:46] klj613 commented on #667
I can also confirm gcsfuse-0.41.1-1.x86_64 works :+1: Thanks :)

[2022-05-02 01:34] changtimwu commented on #174
Input/Output error +1

In the same environment, using `gsutil` to access the same bucket works perfectly
[code]

[2022-05-02 05:19] avidullu commented on #666
Thanks for the helpful feedback here!
We'll investigate the feasibility of using workload identity in gcsfuse.

[2022-05-02 05:20] avidullu commented on #667
Thanks a lot for the inputs here. Closing this out.

[2022-05-02 05:20] #667 closed

[2022-05-02 06:16] avidullu commented on #670
Thanks for the logs. Seems these are not very helpful and we did expect to see a line indicating the connection successful which is absent.

Could you please uninstall gcsfuse from your CentOS machine and do a fresh installation? The new install should pick up the 0.41.1 version of GCSFuse and can you try mounting any other bucket that you own?

From the logs it seems you are running the 0.41.0 ve

[2022-05-03 16:40] flufy3d commented on #288
Also seeing a lot of operation canceled IO errors.

go1.16 with Google Cloud Run Container

[2022-05-03 17:33] BenWang91 opened #671 "does gcsfuse support content-encoding: gzip?"
I have a gz file on GCS with `content-conding:gzip`, and this is the error I saw when I tried to `gunzip` it.

[code]

By looking at this issue https://github.com/GoogleCloudPlatform/gcsfuse/issues/165, it seems that gcsfuse doesn't intend to support this back in 2016. Is this still the decision nowadays? Thanks!

[2022-05-05 03:32] avidullu commented on #671
Thanks for the request here. As you pointed out, a while back there was a good reason for gcsfuse to not support content encoding but we can definitely investigate if that is possible currently. Please let us take a look and we'll post an update soon.

[2022-05-10 00:13] rishabhChd commented on #586
I was facing the same issue. The solution mentioned in this link worked for me: https://stackoverflow.com/a/68584672

[2022-05-11 19:02] scommerot commented on #583
Can this be reopened?  I noticed the same error.
Before on Centos7 with version 0.35.0-1.x86_64, I did not have any issue. After I upgraded to version 0.36 (and even latest 0.41.1 has the same issue), I have that 'connection error' issue.

When using the debug, I see the same:
I0511 11:58:22.159048 OpenBucket("dasinfra-sap-business-sbx4-treasury-inbound", "")
D0511 11:58:22.159297 gcs: Req

[2022-05-13 03:28] lfearnley opened #672 "--implicit-dirs behaviour changes when bucket name has gs:// specified"
Unexpected behaviour (to me at least) - showing implicit directories seems to fail in 0.41.1 if the bucket name is specified as gs://<bucket_name>/, but not when specified as <bucket_name>.

bl_202205_lbd is a bucket with two empty folders and a third folder containing a text file. The folders were created and the text file was uploaded via the storage browser.

gcsfuse with --implicit-dirs shows

[2022-05-13 03:53] avidullu commented on #672
That's expected behaviour. PTAL at https://github.com/GoogleCloudPlatform/gcsfuse#invoking-gcsfuse which calls out how to invoke gcsfuse and it mentions 'bucket_name' without any protocols.

[2022-05-13 03:53] #672 closed

[2022-05-13 04:25] lfearnley commented on #672
Sorry for the reopen - can tag this as a request if more appropriate - should gcsfuse fail explicitly if a protocol is specified in the bucket name?

[2022-05-16 07:49] avidullu commented on #583
Can reopen and try to reproduce on 0.41.1

[2022-05-19 05:28] vadlakondaswetha commented on #652
Changes are released in v0.41.1

[2022-05-19 05:28] #652 closed

[2022-05-20 16:13] sarathreddy154 commented on #483
Do we have any limitation with GCS Fuse on how many number of file requests it can handle?

We are having one GCS Bucket with 300K files mounted on JupyterLab application .When we try to open that mounted folder from JupyterLab we are getting 502 error.
We are using  version 0.41.1 of Gcs Fuse in our environment

[2022-05-25 10:31] #572 closed

[2022-05-26 09:54] raviketha opened #674 "Once mounted using gcsfuse command unable to do any operations in the mount point."
Once mounted using gcsfuse command unable to do any operations in the mount point.

if I type ls to list the file getting error.

getting below error
ls: reading directory '.' : Permission denied

May I know what could be the issue and what blocking exactly.
Note : I am able to upload and download files by using gsutil

[2022-05-27 14:29] oluwatonio opened #675 "Mounted a gcs bucket to VM and unzipped 4 TB file onto bucket from VM, but GCS UI shows 0 bytes."
So I mounted a GCS bucket to my VM and unzipped a 400gb file which became a 4 TB file onto bucket from the VM. But when I go to the GCS UI it shows 0 bytes. Do I have to wait a little longer for the GCS UI before it registers my file? Is this due to a gcsfuse limitation or functionality?

[2022-05-29 05:03] vadlakondaswetha commented on #674
Can you add the following flags and share the debug logs with us. It will help in debugging the issue.

--foreground --debug_fuse --debug_fs --debug_gcs --debug_http

[2022-05-30 07:45] vadlakondaswetha commented on #675
Every file in the zip file will be written independently to the GCS bucket. Hence as soon as one file is written, you should be able to see it in the bucket.

Can you answer these questions which will help in debugging:
1. What is the average file size here?
2. when you say UI shows 0 bytes, does it mean at the directory level and no files are present inside that?
3. Also can you add the following

[2022-06-02 05:22] wadexu007 commented on #583
Getting the exact same issue.

[2022-06-03 14:22] kartikderasari opened #679 "High Memory consumption"
Using `gcsfuse v0.41.1`, I'm mounting a number of GCS buckets on a GKE deployment using the following command:

`gcsfuse -o ro -o allow_other --implicit-dirs --stat-cache-capacity 1000000 --limit-ops-per-sec -1 bucketname /folder-name`

Upon a fresh deployment, the overall memory consumption is approx 36 GB. Once the users start using the application, the memory consumption increases gradually by

[2022-06-06 06:39] avidullu commented on #679
Can you please profile the heap usage and share details around how much of the memory is being used up by what components of GCSFuse.

[2022-06-07 06:53] avidullu commented on #679
Can you run the top command on a machine with high memory usage and share the memory usage of all processes.

[2022-06-07 07:34] kartikderasari commented on #679
Sure, I ran the below command on one of the GKE pod which has 500 MB memory.

`ps -o pid,user,%mem,size,command ax | sort -b -k3 -r`

![pod-profile](https://user-images.githubusercontent.com/40170425/172321254-793fd855-2b5e-4d6c-ba2b-47b5bcf92718.png)

[2022-06-07 07:43] avidullu commented on #679
Well if possible, you shouldn't run 12 different gcsfuse instances in that case.
You should use gcsfuse -o ro -o allow_other --implicit-dirs --stat-cache-capacity 1000000 --limit-ops-per-sec -1 /folder_name ..
After this command succeeds, then you can access your buckets by doing /folder_name/bucket_name
Notice that you can't go inside /folder_name and do an 'ls' since it would not list all the bu

[2022-06-07 12:49] NikhilChanda commented on #674
Hey Team, I am facing the same issue. Could you please help me resolve this

[2022-06-07 12:59] NikhilChanda commented on #674
Here is the output when the above mentioned flags are used while mounting -
**xman@jiovishwam-frp-dev-data-vm-2:~$** gcsfuse --foreground --debug_fuse --debug_fs --debug_gcs --debug_http gcloud_mount
2022/06/07 12:55:44.412577 Start gcsfuse/0.41.2 (Go version go1.17.6) for app "" using mount point: /home/xman/gcloud_mount
2022/06/07 12:55:44.412621 Opening GCS connection...
2022/06/07 12:55:44.415

[2022-06-07 14:07] vadlakondaswetha commented on #674
Thanks for the logs.
Can you share the logs of the operations performed after mounting i.e, when you received permission_denied error

[2022-06-10 04:16] salineselin opened #683 "Add image to dockerhub or some publicly accessible container registry"
It would be great to use gcsfuse in kubernetes, but the current ecosystem for using it requires building the Dockerfile and hosting the image somewhere private. This is a non-issue for larger orgs that already have their own defined private image registries, but for people using gcsfuse personally in k8s it can be. There are a number of gcsfuse images available on [hub.docker.com](https://hub.dock

[2022-06-16 00:18] Darktex commented on #288
I also see this while writing TensorBoard logs on GCS while training on Cloud AI Platform:

[code]

[2022-06-20 16:44] #421 closed

[2022-06-20 16:45] #525 closed

[2022-06-20 16:49] avidullu commented on #531
Seems similar to #562 so closing this out in favor of that since it has more pointers.

[2022-06-20 16:49] #531 closed

[2022-06-23 07:09] avidullu commented on #483
Listing >100K files has not been tested and may take a very long time to the degree that the request may fail.
Please consider organizing the files into subdirectories which should help with the performance.

[2022-06-23 07:09] #483 closed

[2022-06-23 07:28] avidullu commented on #542
Closing out due to inactivity.

[2022-06-23 07:28] #542 closed

[2022-06-23 07:33] avidullu commented on #545
Closing due to inactivity and an alternative solution exists.

[2022-06-23 07:33] #545 closed

[2022-06-23 08:44] avidullu commented on #623
Closing due to inactivity.

[2022-06-23 08:44] #623 closed

[2022-06-27 10:58] avidullu commented on #637
Closing out due to inactivity.

[2022-06-27 10:58] #637 closed

[2022-06-27 10:59] avidullu commented on #576
Closing out due to inactivity.

[2022-06-27 10:59] #576 closed

[2022-06-27 12:17] avidullu commented on #526
Closing out due to inactivity.

[2022-06-27 12:17] #526 closed

[2022-06-27 12:19] avidullu commented on #516
Closing out due to inactivity.

[2022-06-27 12:19] #516 closed

[2022-07-04 09:24] ikholopov-omni commented on #679
+1 to this issue from Google Cloud Composer.

I ran some tests for our use case which is "create nested directory, write log file there, never touch this log file again". From my investigation I have the following conclusions:

0. The primary source of memory consumption are live inodes. :
![image](https://user-images.githubusercontent.com/73560138/177123666-77f17887-7b61-4155-8f53-c43e32324851.pn

[2022-07-05 06:35] avidullu commented on #679
Thanks for the pprof flame graphs and the analysis!

As you point out the options are a bit limited and will need some deeper analysis and will be intrusive.

For our understanding, do you see this memory issue mostly in buckets which have very large number of files?

[2022-07-05 06:48] avidullu commented on #679
We have discussed this within the team and we can identify some small wins if possible by using a more compressed format of the Inode.

[2022-07-07 08:23] sereeena opened #711 "Running gcsfuse in a docker container (with google application credentials) mount hangs forever unless using --foreground"
I have installed gcsfuse in a docker container (based on bullseye and using gcsfuse-buster repo), and I am running the docker container with --cap-add SYS_ADMIN --device /dev/fuse --security-opt apparmor:unconfined to allow fuse to run.

I have set up a service account on GCP with cloud storage permissions, have downloaded a json key for it and use this with GOOGLE_APPLICATION_CREDENTIALS when cal

[2022-07-07 09:19] alehed commented on #674
I think I encountered the same the same error. The logs are:

[code]

[2022-07-07 10:25] alehed commented on #674
Weird, I ran `gcloud init` to re-log in but that didn't fix the issue. Also running `gsutil ls gs://***` works for the bucket I want to mount.

[2022-07-11 04:41] avidullu commented on #553
@6SwC Could you please post the exact commands you ran before this?

[2022-07-12 22:19] apolishchuk-clgx opened #715 "gcsfuse mount hangs in Ubuntu"
Hello,

We have Ubuntu 18.04.6 LTS with GCSfuse version 0.41.4. Mounting any bucket that used to work before now hangs.
Any disk command, such as ls or df on the mount point or its parent hang.

We've removed snap and lxcfs packages.

The mount command is the following, but changing the options does not help.

/usr/bin/gcsfuse --foreground -o rw --implicit-dirs -o allow_other --uid 30000 --gid 300

[2022-07-13 15:34] apolishchuk-clgx commented on #715
Still the same problem.

/usr/bin/gcsfuse --foreground -o rw --implicit-dirs -o allow_other --uid 30000 --gid 30000 --max-retry-sleep 0 --debug_fuse --debug_fs --debug_gcs --debug_mutex test-bucket /gcs_test

2022/07/13 08:30:27.976920 Start gcsfuse/0.41.4 (Go version go1.17.6) for app "" using mount point: /gcs_test
2022/07/13 08:30:27.977279 Opening GCS connection...
2022/07/13 08:30:27.979593 C

[2022-07-13 17:38] avidullu commented on #715
Can you tell how do you think it is stuck? I mean do you open a separate terminal are you not able to go into the directory?

[2022-07-13 17:42] apolishchuk-clgx commented on #715
That's right. I open a separate terminal and not able to list that directory or root directory "/". Running "df -h" also hangs.

[2022-07-13 17:55] apolishchuk-clgx commented on #715
I had to uninstall lxcfs package, because it was hanging also independently of gcsfuse. Any attempt to run "ls /var/lib/lxd" or "df -h" was hanging. Just in case I uninstalled snap package, as it was causing problems in the past too. It seems to me that some system-wide setting or library has been changed in the latest build causing all this.

[2022-07-14 07:30] avidullu commented on #715
I just tried to repro this issue on a freshly made GCP VM with Ubuntu 18.04.6 and I was able to access a bucket contents very easily using the same command as you mentioned.

I would recommend
a. You seem to be using "root" privileges which is not a good mode to operate and seems your system has a lot of other complex libraries installed. We do not test gcsfuse with lxcfs or other libraries. Would

[2022-07-14 08:00] avidullu commented on #711
Sorry for the late reponse. Some thoughts

a. Did you fusermount -u  /share/referencefiles before retrying to mount the bucket?
b. If you're not going to use the --log-file and --log-format, is there any reason to pass the debug_* flags?

[2022-07-14 17:57] apolishchuk-clgx commented on #715
This is a Linux VM created from one of Google images, such as ubuntu-1804-bionic-v20220712 from ubuntu-1804-lts family.

The images from the beginning of the year, such as ubuntu-1804-bionic-v20220111 seem to work with fuse 0.39.

[2022-07-15 05:02] avidullu commented on #674
@alehed Can you also please pass --debug_gcs --debug_http to the commands so that we can get the exact http requests and the gcs logs as well?

[2022-07-15 05:24] avidullu commented on #674
Also your error seems related to [this post](https://stackoverflow.com/questions/58986145/gdrive-command-line-oauth2-cannot-fetch-token-400-bad-request). Can you check if following the suggestion helps you?

[2022-07-15 06:25] alehed commented on #674
I already passed those options in the log above, but here is another log with these options: https://gist.github.com/alehed/5b25900eeff30751177878f09b5368af

[2022-07-15 07:07] alehed commented on #674
I don't have a `~/.gdrive`, but it did fail after I set up a gdrive sync job.

[2022-07-15 07:27] alehed commented on #674
After some experimentation, deleting `~/.config/gcloud/application_default_credentials.json` and running

[code]

fixed the issue. Not sure why though.

[2022-07-18 02:47] avidullu commented on #711
@markkimsal Based on [this](https://stackoverflow.com/questions/52856059/how-to-launch-and-keep-a-background-process-inside-a-docker-container) you could use nohup command. Docker seems to have some restrictions on bacground processes which need some getting around.

[2022-07-18 02:53] avidullu commented on #554
Closing due to inactivity.

[2022-07-18 02:53] #554 closed

[2022-07-18 02:58] avidullu commented on #536
Closing due to inactivity.

[2022-07-18 02:58] #536 closed

[2022-07-18 03:02] avidullu commented on #619
Closing due to inacticity and a suggested fix.

[2022-07-18 03:02] #619 closed

[2022-07-18 05:19] sereeena commented on #711
I tried to use nohup command but this doesn't work either.
Sorry for late responses, I had kind of given up on it. As I am not sure if I understand your suggestions or if it fixes things I thought I'd mention how to reproduce and what I have tried so far

No, as I don't think it successfully mounted it so did not need to unmount. However, calling fusermount command results in
fusermount: failed to

[2022-07-18 06:14] avidullu commented on #711
Thanks for the details @sereeena
I meant having nohup alongwith the --foreground flag as well.

Also did you happen to look at the Dockerfile in the repo?  https://github.com/GoogleCloudPlatform/gcsfuse/blob/master/Dockerfile

[2022-07-18 08:21] sereeena commented on #711
Thanks, I was already able to get gcsfuse to run with --foreground (see title of issue), so nohup is not necessary.

My intention had been to create a docker container which mounted a bucket with gcsfuse, then did other things like run an app or run unit tests, so there would be a script/entrypoint where it would call gcsfuse then continue with other things.

In order to do this, it seems I need t

[2022-07-18 15:00] markkimsal commented on #711
@avidullu  I'm experiencing the same issue just on a bare VM, no docker involved (GCE, ubuntu 20.04 LTS)

The output of the command when hanging is different from other tickets, it matches the output of this ticket.

No matter how many --debug flags I use, it hangs right after
[code]

[2022-07-18 18:49] dcosta-clgx commented on #715
This seems like the same issue I'm having.  Tried to build new GCP VMs, running CentOS, using existing Ansible scripts, which include installation of gcsfuse and mounting a bucket as a non-root user.  The same version of the scripts worked successfully about 2 weeks ago.  Now, it seems the attempt to mount the bucket hangs.

The bizarre part is that other VMs, which were built with the same base i

[2022-07-19 04:12] avidullu commented on #715
If the issue is seen on a "fresh VM without any other software installed" then please to report the steps to reproduce.
In case there are other involved libraries and background processes running on the VM, it will be impossible for us to repro.

[2022-07-19 04:17] avidullu commented on #711
@markkimsal Is this issue seen on a fresh VM with just gcsfuse as the additional software installed?
Are you the owner of the bucket?

[2022-07-27 17:03] sshcherbakov opened #728 "Upgrade Go runtime to 1.17.12 or 1.18.4 to mitigate CVE vulnerabilities"
gcsfuse in its current version is being flagged as a source of multiple Critical CVE vulnerabilities by the security vulnerability scanners such as JFrog XRay or Google on-demand Artifactory Registry scanning because of its dependency on the outdated Go language runtime.

Please upgrade the Go runtime to the latest 1.17.x or 1.18.x versions.

[2022-07-27 23:08] rpjeff opened #732 "Does Not Honour no_proxy Environment Variable"
The current release passes through the environment variable setting http(s)_proxy, but fails to consider the environment variable no_proxy. This leads to hosts which use proxies for Public Internet and direct accesses for calls to *.googleapis.com being broken.
PR #731 adds this variable and fixes this issue.

[2022-07-29 21:16] mounssim opened #733 "System file type/ProxMox Backup Server"
Hello,

I have mounted GCS with gcsfuse to ProxMox Backup Server /Debian, however I am not able to read/write into it, I am getting the bellow error:

mkdir: cannot create directory ‘/mnt/GCPStorage/Test’: Input/output error

I thin ProxMox is not able to read /write to the mount since the fs type is "fuse.gcsfuse "
Could you please help me,

[2022-08-01 08:57] vadlakondaswetha commented on #733
Hi,

Couple of questions:
1. Can you list down the steps of how you mounted gcs to ProxMox Backup server and what operations you have performed after that.
2. When you say you are not able to read/write into the mounted folder -> how are you doing the reads/write using some tool or just via command line.
3. Please share the complete logs of gcsfuse by enabling --debug_http, --debug_fs, --debug_fus

[2022-08-05 05:55] avidullu commented on #728
Updated to 1.18.4

[2022-08-05 05:55] #728 closed

[2022-08-05 05:57] avidullu commented on #732
Thanks for the fix here.

[2022-08-05 05:57] #732 closed

[2022-08-05 06:01] avidullu commented on #711
Could you please retry with giving the full path to the credentials file? eg. /home/$USER/service.json ?

[2022-08-08 12:23] markkimsal commented on #711
@avidullu

with full path and no foreground
[code]

with relative path and no foreground (either with ./ or without ./)
[code]

[2022-08-09 04:13] avidullu commented on #711
@markkimsal Can you file a separate issue with the bug template?
Since this was about Docker container and you aren't using one.
Please provide the entire command line and the results of the same. I'm closing this issue since there are no actionable items for the original bug.

@sereeena Sorry the bug got side tracked and to your point regarding the necessity to use --foreground when running gcsfu

[2022-08-09 04:13] #711 closed

[2022-08-10 07:48] mounssim commented on #733
@avidullu thanks for your reply and sorry for the late reply, please see the details bellow as requested:
1. Can you list down the steps of how you mounted gcs to ProxMox Backup server and what operations you have performed after that.

Created a bucket and a service account with Admin Role for the Bucket
root@dw-pbs001:/usr/local/sbin# cat my-startup.sh
#!/bin/sh
export GOOGLE_APPLICATION_CREDENT

[2022-08-10 08:07] vadlakondaswetha commented on #733
in the mount step you should pass these flags. i.e.,
gcsfuse --debug_fs --debug_gcs --debug_fuse --debug_http my-bucket/PBSBackups /mnt/GCPStorage/

Also use --log-file=output.json and --log-format=json to export logs to a file.

[2022-08-10 08:35] mounssim commented on #733
@vadlakondaswetha thanks for your reply.
I made the changes, I am sorry, may I know where are the logs are exported to "--log-file=output.json and --log-format=json"?

[2022-08-10 09:10] vadlakondaswetha commented on #733
They should be exported to a file named output.json. if you are not able to find the file because of relative path please provide the absolute path so that you can find the file, something like ~/Desktop/output.json.

[2022-08-10 15:55] mounssim commented on #733
@vadlakondaswetha,
after I added the options the mount command is not working anymore:
gcsfuse --debug_fs --debug_gcs --debug_fuse --debug_http --log-file=~/Desktop/output.json --log-format=json my-bucket/PBSBackups /mnt/GCPStorage/

[2022-08-11 04:41] vadlakondaswetha commented on #733
Sorry, right now path starting with ~ is not working. Try giving any absolute path without ~.

Also can you tell if gcsfuse without ProxMax backup server is working fine. Right now we don't support running gcsfuse in conjuction with other tools.

[2022-08-11 08:03] mounssim commented on #733
Hello @vadlakondaswetha ,
please see bellow the logs:

{"name":"root","levelname":"INFO","severity":"INFO","message":"Start gcsfuse/0.41.4 (Go version go1.17.6) for app \"\" using mount point: /mnt/GCPStorage\n","timestampSeconds":1660202124,"timestampNanos":84460583}
{"name":"root","levelname":"NOTICE","severity":"NOTICE","message":"Opening GCS connection...\n","timestampSeconds":1660202124,"time

[2022-08-11 08:39] vadlakondaswetha commented on #733
Error says bucket name is invalid
[code]

Are you trying to mount a specific directory inside the bucket?  You should just pass the bucket name like my-bucket and not any sub-directory within the bucket.  In case you want to mount a specific directory under a bucket , use --only-dir=<directory-name> flag.

[2022-08-11 08:49] mounssim commented on #733
Yes, "PBSBackups" is a directory within "my-bucket". what will be my flag in that case?

[2022-08-11 09:05] vadlakondaswetha commented on #733
Use this command:

gcsfuse --debug_fs --debug_gcs --debug_fuse --debug_http --log-file=output.json --log-format=json --only-dir=PBSBackups my-bucket /mnt/GCPStorage/

[2022-08-16 09:15] mounssim commented on #733
Hello @vadlakondaswetha,

Thanks a lot for your help all works good with gcsfuse but can't create a datastore which point that mount point.

at one point you said that you are not supporting
![image](https://user-images.githubusercontent.com/103421662/184843786-71b864a8-9250-41e8-b44a-5f579e8ba96f.png)

Does that mean I can't use it all?

[2022-08-16 09:54] vadlakondaswetha commented on #733
We haven't explicitly tested running GCSFuse with ProxMox backup server.  If you share the gcsfuse logs, it will help us understand what is causing the issue from GCSFuse side. Depending on the issue/fix and priority we can take it up as a bug or feature request.

[2022-08-16 11:32] mounssim commented on #733
Please find refreshed logs:
[logs.zip](https://github.com/GoogleCloudPlatform/gcsfuse/files/9350531/logs.zip)

[2022-08-16 12:47] mounssim commented on #733
@vadlakondaswetha and this what I have as error with PBS /GUI
![image](https://user-images.githubusercontent.com/103421662/184883227-c618a7e0-9a3d-4dd8-b88e-8537e3dc609a.png)

[2022-08-17 15:12] mounssim commented on #733
@vadlakondaswetha I mange to create a datastore by adding --file-mode and --dir-mode to the mount command.
now I am having another issue which is related to atime this what they said on the proxmox forum:
![image](https://user-images.githubusercontent.com/103421662/185176333-529dadc3-5665-4c35-9627-b1aff6448008.png)

What do you think?

[2022-08-18 06:52] vadlakondaswetha commented on #733
atime is currently not handled by gcsfuse: https://github.com/GoogleCloudPlatform/gcsfuse/blob/master/docs/semantics.md#missing-features

GCS object by definition doesn't have atime property (https://cloud.google.com/storage/docs/json_api/v1/objects#resource-representations) and its becomes complex to handle it from gcsfuse side. Hence we are not supporting it and doesn't have any immediate plans

[2022-08-18 13:54] alekpikl opened #762 "Installation issue: GCSFuse `0.41.5_amd64.deb` release artifact possibly broken"
**Describe the bug**
Installing GCSFuse 0.41.5 fails.

**To Collect more Debug logs**
Steps to reproduce the behavior:
[code]

Output:
[code]

**System (please complete the following information):**
 - OS: debian-10-buster
 - Platform: Google Cloud VM
 - Version: 0.41.5

**Additional context**
0.41.4 works.

[2022-08-19 05:08] avidullu commented on #762
Thanks for reporting the issue and as @zmitchell correctly pointed out, I have also updated the installations page.

[2022-08-19 05:08] #762 closed

[2022-08-19 13:19] wperron opened #765 "Mounted bucket doesn't list files and folders created by a BigQuery export"
Hey folks 👋 I'm running gcsfuse version `c62530aa` on a GCE vm running Ubuntu 22.04. I'm mounting a bucket that contains a mix of objects that were created manually and objects that were created through BigQuery's `EXPORT DATA` feature. I can list the objects that were created manually, but if I try listing the files created by BigQuery, I get "no such file or directory". I initially thought it mi

[2022-08-19 14:39] avidullu commented on #765
Could you please try with the --implicit-dirs=true flag to the gcsfuse mount command

[2022-08-19 17:48] wperron commented on #765
Yup, that works 🤦 didn't RTFM properly, thanks for your help.

[2022-08-19 18:23] #765 closed

[2022-08-23 20:16] dan9thsense opened #767 "permission denied on local folder with gcsfuse"
I tried to get gcsfuse to work, with the goal of mounting my gcs cloud bucket as a local drive on Ubuntu, just like I have my AWS S3 bucket mounted.  This is very similar to [issue 674](https://github.com/GoogleCloudPlatform/gcsfuse/issues/674)

I installed it according to these directions:
https://github.com/GoogleCloudPlatform/gcsfuse/blob/master/docs/installing.md

In testing, I ran into permis

[2022-08-24 04:31] vadlakondaswetha commented on #767
Error message from the logs:
bucket-access@quantumtx.iam.gserviceaccount.com does not have storage.objects.get access to the Google Cloud Storage object.

GCSFuse is trying to access GCS using the service account creds: **bucket-access@quantumtx.iam.gserviceaccount.com**. Can you give required permissions to this service account to access the GCS bucket.

gsutil might be using your creds to connec

[2022-08-24 05:20] dan9thsense commented on #767
"Can you give required permissions to this service account to access the GCS bucket."

How do I do that?  As I mentioned, it looks like it needs roles of storage.admin and storage.object.admin, but I don't know how to add those.

[2022-08-24 05:45] vadlakondaswetha commented on #767
You can set it via UI or via command line
https://cloud.google.com/iam/docs/granting-changing-revoking-access#iam-view-access-console

example: https://docs.cloudera.com/HDPDocuments/HDP2/HDP-2.6.5/bk_cloud-data-access/content/edit-bucket-permissions.html

[2022-08-24 06:17] dan9thsense commented on #767
Those are good ideas and links, thanks for the input.  However, storage_admin was already set for the service account and I don't see any options for storage.object.admin or anything else that looked related.

I did add roles such as "owner" but it didn't help.  Still get permission denied when trying to read files in the folder.

[2022-08-24 06:33] vadlakondaswetha commented on #767
If you are setting it via UI, the role will be under
Cloud Storage > Storage Object Admin

By the way its called storage.objectAdmin not storage.object.admin
![image](https://user-images.githubusercontent.com/101323867/186347220-98b2d2fd-9c8b-4a6c-a022-abe909f6194d.png)

[2022-08-24 06:38] dan9thsense commented on #767
Ah, found it, thanks.  There are two entries, storage.objectAdmin and storage.Admin Unfortunately, both were already set.

storage.Admin
26 assigned permissions
firebase.projects.get
orgpolicy.policy.get
resourcemanager.projects.get
resourcemanager.projects.list
storage.buckets.create
storage.buckets.createTagBinding
storage.buckets.delete
storage.buckets.deleteTagBinding
storage.buckets.get
stora

[2022-08-24 06:55] dan9thsense commented on #767
I may have found the problem.  The overall project account has these permissions, but the service account may not.  There is another service account in the project that does have the needed permissions.

"Cloud Storage Service Account
Each project has an associated Cloud Storage service account."

Our project already had a Cloud Storage Service Account with the needed permissions,  but now there i

[2022-08-24 06:58] vadlakondaswetha commented on #767
you can go into cloud storage > buckets > select your bucket > permissions > ADD.
Then you can add the permissions for any service account.

[2022-08-24 07:02] vadlakondaswetha commented on #767
alternatively you can generate key for the the service account which have the needed permissions and use that to mount the gcs bucket.
IAM & Admin > Service accounts > select the service account > keys > Add Key > Create new key

[2022-08-24 15:46] dmedora opened #770 "gcsfuse should not return if GCS calls returned 400 errors"
Today, if you attempt to mount an invalid GCS bucket (eg. doesn't exist, lack permission, or accidentally include gs:// in bucket name), gcsfuse's output suggests the mount was successful. This is misleading - gcsfuse should instead include the error response in its output so that it's clear to the user.

[code]

If we print debug logs (--debug_gcs --foreground), we see that the GCS call returned

[2022-08-24 22:08] dan9thsense commented on #767
And that was the trick!  I did that and now it works.  @vadlakondaswetha Thanks so much for your help with this.

[2022-08-24 22:08] #767 closed

[2022-08-25 04:34] vadlakondaswetha commented on #770
This is a known issue. Will update the thread once the issue is fixed.

[2022-08-26 20:11] kris-fogle opened #774 "Open File Descriptors"
I'm using gcsfuse to periodically sync files from a server to a bucket. We have defined a tmp_dir that is 200GB in size, however the system reports the disk is full after gcsfuse runs as a service uninterrupted for a few days.

This appears to be due to file descriptors being left open after the files are deleted from the temp directory. Running df -h shows the disk is full, but no files are actua

[2022-08-29 00:51] dan9thsense opened #775 "only some bucket folders mounted, others are missing or empty"
After installing gcsfuse on both a local and a GCP instance,  I get the bucket to mount, but only a subset of the folders in the bucket show up.  And, in some of the ones that show up, their contents are empty.

Happens with both Ubuntu 18.04 and Ubuntu 20.04.

I cannot find anything that distinguish's the folders that show up from the ones that do not.

[2022-08-29 01:18] dan9thsense commented on #775
After installing gcsfuse on both a local and a GCP instance,  I get the bucket to mount, but only a subset of the folders in the bucket show up.  And, in some of the ones that show up, their contents are empty.

Happens with both Ubuntu 18.04 and Ubuntu 20.04.

I cannot find anything that distinguish's the folders that show up from the ones that do not.

I have credentials setup, so the command is

[2022-08-29 01:19] dan9thsense commented on #775
Here is the console output from the debug run:

[gcsfuse_debug_output.txt](https://github.com/GoogleCloudPlatform/gcsfuse/files/9440908/gcsfuse_debug_output.txt)

[2022-08-29 03:26] avidullu commented on #775
Could you retry with --implicit-dirs=true flag set?

[2022-08-29 03:44] dan9thsense commented on #775
That did the trick.  They all show up now.  @avidullu Thanks!

[2022-08-29 03:44] #775 closed

[2022-08-29 03:49] avidullu commented on #774
Can you please specify the flags that you are using to bring up gcsfuse?

[2022-08-29 04:50] wsb1994 commented on #615
**praise**: Excellent suggestion

[2022-08-29 07:09] avidullu commented on #733
Closing this issue since atime is not currently in scope for being added in gcsfuse.
Please reopen the bug or file a new one in case you need more help.

[2022-08-29 07:09] #733 closed

[2022-08-29 07:21] avidullu commented on #674
Closing this out since it has the same symptoms as #767 which was due to incorrect permissions at GCS for the bucket and user.

[2022-08-29 07:21] #674 closed

[2022-08-29 13:19] kris-fogle commented on #774
/usr/bin/gcsfuse --foreground -o allow_other,nonempty --implicit-dirs --temp-dir /mnt/gcs_tmp --uid 1002 --gid 1003 --file-mode 0770 --dir-mode 0770

[2022-09-01 07:54] avidullu commented on #774
Can you please provide a bit more detail about how the sync files operations are being performed?

Do you mount a bucket locally, keep adding files to it and delete them at some frequency? Or delete an entire directory?

If you just do the operation for a single file i.e. start gcsfuse, sync a single file and then delete it do you observe the same file descriptors with lsof?

Can you enable some l

[2022-09-06 13:41] WYGIN opened #787 "GCSFUSE with Cloud Run getting fuse device not found error"
According to docs on [Google](https://cloud.google.com/run/docs/tutorials/network-filesystems-fuse) we can run Cloud Run with GCSFUSE.
but i am getting following error
[code]
I tried everything i found on internet but nothing useful.

But i dont know where to add them.
GCloud run deploy CLI too don't support such commands.
My docker Container don't have `/dev/fuse` file and i am unable add it to m

[2022-09-07 03:05] avidullu commented on #787
Have you also posted this question to the Cloud Run support team on [stackoverflow](https://stackoverflow.com/questions/tagged/google-cloud-run)? they seem to have a tag with the support and also [this question](https://stackoverflow.com/questions/70407189/unable-to-mount-bucket-with-gcsfuse-on-cloud-run) comes close to what you're observing as well.

[2022-09-07 04:33] songjiaxun opened #788 "mount.gcsfuse accepts flag `experimental_local_file_cache` as a string flag"
**Describe the bug**
The flag [`experimental_local_file_cache`](https://github.com/GoogleCloudPlatform/gcsfuse/blob/93be0283a31070b17bb1a36e2884bc87fa8db4f4/tools/mount_gcsfuse/main.go#L103) should treated as a bool flag, not a string flag.

[2022-09-07 07:15] avidullu commented on #788
Will be fixed in next release.

[2022-09-07 07:15] #788 closed

[2022-09-07 07:35] vadlakondaswetha opened #793 "Production rollout of experimental-stackdriver-export-interval flag"
GCS Fuse supports exporting custom metrics related to filesystem operations and gcs calls to Google cloud monitoring. These metrics gives info on GCSFuse behaviour like

- what calls are made by kernel to GCSFuse,
- what calls are make by GCSFuse to GCS
- Latency of every operation etc

Right now this feature is protected by an experimental flag: experimental-stackdriver-export-interval.  This fla

[2022-09-08 17:15] douwekiela opened #800 "Installation documentation issues"
**Describe the bug**
I followed the installation instructions verbatim on Debian bullseye and got an error about a missing Release file:

[code]

Then I tried to install the .deb via dpkg, but the URL is incorrect and needs to be updated with what is in https://github.com/GoogleCloudPlatform/gcsfuse/releases. It says to install from `https://github.com/GoogleCloudPlatform/gcsfuse/releases/download

[2022-09-09 02:59] avidullu commented on #800
This is a known issue and we are working on it.
Currently to continue with the installation you can change the GCSFUSE_REPO to below and continue with the rest of the instructions and you will be able to use GCSFuse.
`export GCSFUSE_REPO=gcsfuse-buster`

[2022-09-12 05:01] avidullu commented on #787
I'm not very sure about the gVisor but seems they have an [open issue](https://github.com/google/gvisor/issues/3678) for the same which hasn't got much traction. You may want to post this question to the gVisor github/stackoverflow.

[2022-09-12 05:16] avidullu commented on #590
https://github.com/GoogleCloudPlatform/gcsfuse/pull/777 added the fake-gcs-server to our repo and we are already building tests around the same.

[2022-09-16 21:22] bsergean opened #806 "Cannot write file larger than 16Gb"
**Describe the bug**
I am trying to write a large file (20G) to a mounted GCS folder, but the upload stop making any progress once I am at around 16G, as if there was some kind of system limit around that size.

**System**
 - OS: [Ubuntu 18.04]
 - Platform [VM]
 - Version [0.41.6 (Go version go1.18.4)]

[2022-09-19 07:19] raj-prince commented on #806
Hi @bsergean,

I also tried to simulate the same workflow. I have uploaded a 20GB file to GCS bucket using gcsfuse. It took around 10-12 minutes and uploaded successfully.

**System Info I tried:**

No LSB modules are available.
Distributor ID: Ubuntu
Description:    Ubuntu 18.04.6 LTS
Release:        18.04
Codename:       bionic
Version 0.41.6 (Go version go1.18.4)

We need more information regar

[2022-09-19 13:58] bsergean commented on #806
Thanks a.lot for giving this a try !
I will try again today ; I have some progress report, but maybe it’s poorly implemented and lie when telling the progress is almost done while it isn’t.

[2022-09-20 06:01] avidullu commented on #800
Should work now.

[2022-09-20 06:01] #800 closed

[2022-09-20 18:45] raj-prince commented on #806
Sure, please keep us posted, will wait for the update. Thanks!

[2022-09-23 00:40] NathanielRose opened #811 "Permission issue still occurs when using allow_others flag"
**Describe the bug**
I have to write to `/var/` directory which requires me to be root admin.
When I mount the bucket to this directory `/var/test_bucket` everything works just fine with root.
`gcsfuse --implicit-dirs -o allow_other mounted-bucket /var/test_bucket/`

I switch to another user and I have the ability to read from the bucket but can not write

**To Collect more Debug logs**
Steps to r

[2022-09-23 00:40] #811 closed

[2022-09-29 15:27] vadlakondaswetha commented on #793
Fixed in GCSFuse v0.41.7  https://github.com/GoogleCloudPlatform/gcsfuse/releases/tag/v0.41.7

[2022-09-29 15:27] #793 closed

[2022-10-03 07:14] sethiay commented on #774
Marking the issue as closed, given last response was more than 30 days ago. @kris-fogle, please feel free to open this issue and share details as mentioned in https://github.com/GoogleCloudPlatform/gcsfuse/issues/774#issuecomment-1233889557.

[2022-10-03 07:14] #774 closed

[2022-10-03 07:23] sethiay commented on #629
Marking this issue closed as the fix mentioned in https://github.com/GoogleCloudPlatform/gcsfuse/issues/629#issuecomment-1099012965 had been released in v0.41.7 https://github.com/GoogleCloudPlatform/gcsfuse/releases/tag/v0.41.1. @thepenguinco, please feel free to open if the issue reoccurs.

[2022-10-03 07:27] sethiay commented on #551
Marking this issue closed, given last response was more than 30 days ago. @leonardo2204, please feel free to open and respond to https://github.com/GoogleCloudPlatform/gcsfuse/issues/551#issuecomment-1099087173 if you find the issue again.

[2022-10-03 07:27] #551 closed

[2022-10-03 09:30] danvimeo opened #829 "GCSfuse doesn't sync all the sub-directories"
**Bug description:**
I use gcsfuse to mount a GCS bucket into a GKE pod, and the 3rd level of the sub-directories is not synced.

**To Collect more Debug logs**
e.g in GCS we have a bucket with the following structure: `gs://bucket/dir1/dir2/dir3`

I don't see `dir3` on or any of its files on my mnt path.
This is the same for all the directories in the 3rd level.
When I run `mkdir -p /mnt/test/dir

[2022-10-03 10:05] vadlakondaswetha commented on #829
Did you try mounting GCSFuse with --implicit-dirs flag (https://github.com/GoogleCloudPlatform/gcsfuse/blob/master/docs/semantics.md#implicit-directories).

[2022-10-03 11:28] danvimeo commented on #829
with --implicit-dirs flag the mout fails

[2022-10-03 11:29] vadlakondaswetha commented on #829
Can you share the logs of gcsfuse by enabling --debug_gcs, --debug_fuse, --debug_fs, --debug_http flags

[2022-10-30 18:41] #806 closed

[2022-10-31 17:25] cboneti opened #838 "The repository 'http://packages.cloud.google.com/apt gcsfuse-jammy Release' does not have a Release file."
**Describe the bug**
Following the instructions [here](https://github.com/GoogleCloudPlatform/gcsfuse/blob/master/docs/installing.md#ubuntu-and-debian-latest-releases) does not work for Ubuntu 2204 as present on GCP image family (family: ubuntu-2204-lts, project: ubuntu-os-cloud).
[code]

**To Collect more Debug logs**
Steps to reproduce the behavior:

    1  export GCSFUSE_REPO=gcsfuse-`lsb_relea

[2022-11-03 15:08] Tulsishah commented on #838
We have updated our configuration. you can check it now it is working.

[2022-11-03 17:14] cboneti commented on #838
Thanks, we tested it and it all works fine.

[2022-11-03 17:14] #838 closed

[2022-11-07 09:01] vadlakondaswetha commented on #770
This is fixed in release 0.41.7 : https://github.com/GoogleCloudPlatform/gcsfuse/releases/tag/v0.41.7

[2022-11-07 09:04] vadlakondaswetha commented on #675
Closing the issue since we haven't heard back from the customer.

[2022-11-10 07:41] moshix opened #844 "Brew install procedure does not work on Intel-based Macos"
**Describe the bug**
Please provide a clear description of what you were trying to achieve along with the details of the flags that you passed.

When installing on Macos on an Intel machine with the procedure as described in the Install readme, I get the error below:

==> Installing Cask osxfuse
==> Running installer for osxfuse; your password may be necessary.
Package installers may write to any

[2022-11-10 11:59] robbymilo commented on #500
@wimo7083 I found that when deleting/restoring an object gcsfuse does not pick up the restored object. rclone mount (https://rclone.org/commands/rclone_mount/) does, however I'm not sure if there are any other downsides.

[2022-11-10 15:34] sethiay commented on #844
Installing FUSE on macOS has always been tricky, we will get back when we have a solution for this.

[2022-11-22 14:39] rubber-ant commented on #320
facing the same issue:

[code]

I can see the object with `bob` user:
[code]

[code]

[code]

[2022-11-23 09:25] rubber-ant opened #852 "GetTokenSource: newTokenSourceFromPath: JWTConfigFromJSON: google: read JWT from JSON credentials: 'type' field is "authorized_user" (expected "service_account")"
Ref: https://github.com/GoogleCloudPlatform/gcsfuse/issues/320

[code]

without `--key-file`, it can mount without issue
[code]

I can see the object with `bob` user:
[code]

**System (please complete the following information):**
 - OS: [Ubuntu 20.04.5]
 - Platform [GCP VM]
 - Version [0.41.8]

[2022-11-23 23:29] steve-marmalade opened #853 "Clarify the type and number of Cloud Storage Operations performed by gcsfuse"
Hi there,

I am trying debug a larger than expected number of [Cloud Storage Class A operations](https://cloud.google.com/storage/pricing#price-tables), and I'm wondering if my usage of `gcsfuse` may explain it.

Concretely, if I mount a bucket via `gcsfuse --implicit-dirs my-bucket /my-bucket` and then attempt to read a file in a somewhat deeply nested directory `/my-bucket/directory1/directory2/

[2022-11-24 02:52] Tulsishah commented on #852
run this command
gcloud auth application-default login
and than
gcsfuse      --foreground  --log-format text --debug_fuse --debug_fs --debug_gcs --debug_mutex    bob_bucket_test  /mnt/bucket/bob_bucket_test

[2022-11-24 12:10] ipclaudio commented on #852
@Tulsishah

 Are you going to make this feature(keyfile) available for `users` in the future?

[2022-11-24 14:30] vadlakondaswetha commented on #852
Key-file is only used for specifying service account credentials. Right now, there is no plan to support key-file for users.
Other option to specify user credentials is via GOOGLE_APPLICATION_CREDENTIALS as mentioned here: https://github.com/GoogleCloudPlatform/gcsfuse/blob/master/docs/mounting.md#credentials

[2022-11-24 16:11] Tulsishah commented on #853
It is four in this case.
The number of calls is equal to the numbers of directories in the path + one for file name
as mentioned here [--implicit-dirs semantics](https://github.com/GoogleCloudPlatform/gcsfuse/blob/master/docs/semantics.md#implicit-directories)

[2022-11-24 17:43] ipclaudio commented on #852
specify via GOOGLE_APPLICATION_CREDENTIALS   `user` or `service account`  credentials?

[2022-11-26 04:23] Tulsishah commented on #852
service account credentials

[2022-11-28 01:53] steve-marmalade commented on #853
@Tulsishah , thank you very much for the response.

When I initially read the docs, I did not appreciate:
- That `list` requests would be made even when I am attempting to load a specific file (as opposed to listing the contents of a directory)
  -  By extension, that there would be a list request for each directory in addition to the file.
- That `storage.objects.list` requests are billed differe

[2022-11-29 17:54] #852 closed